/** Drag and Drop file **/
#drop_zone {
    border: #0190af 2px dashed;
    border-radius: 10px;  /*Permite redondear los bordes.*/
    min-width: 500px;
    height: 100px;
    padding: 8px;
    font-size: 16px;
}

#drop_zone p{
  text-align: center;
}

#drop_zone i{
  display: block;
  margin-bottom: 5px;
}

.boxUpload{
  background-color: #f4f6f6;
  padding: 5px;
  border-radius: 10px;
  border: solid 1px white;
  display: inline-block;
  margin-top: 30px;
}
/**                   **/

.cabecera{
  padding-top: 30px;  /*Permite separar el texto del borde del div que lo contiene*/
  min-width: 1250px;
  text-align: center; /*Permite decidir como se define el texto, justificado, centrado...*/
  background-color: #C0C0C0;
}

.cabeceraTexto{
  width: 1000px;
  display: inline-block;
  position: relative;
  bottom: 50px;
}

.cabeceraImagen{
  display: inline-block;
}


body{
  margin: 0px;  /*Para que el body no deje margenes de modo que la cabecera llegue hasta el borde de la pantalla*/
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: auto;
  /* Evita que se permita seleccionar el texto */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

.contenedorFichero{
  min-width: 80%;
  text-align: center;
  margin-top: 60px;
}

/** Proporcionar estilo a todos los botones**/
.btnEstilo{
  margin-top: 0px;
  border: 2px solid #555555;
  border-radius: 12px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 8px 32px;
  font-size: 16px;
  cursor: pointer;
}

.btnEstilo:hover {
  background-color: #555555;
  color: white;
  border: 2px solid white;
}

.inputFile{
  display: none;
}

.inputNameFile{
  width: 350px;
  padding: 5px 10px;
  /*border: 1px solid #555555;*/
  box-sizing: border-box;
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 15px;
  color: black;
  text-align: left;
  word-break: break-all;  /*Permite dividir una palabra en caso de que no quepa en eñ espacio destinado a ella.*/
}

.contenedorFicheroPrincipal{
  display: block;
}

.btnRight{
  width: 150px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  left: 150px;
}

.panelCentral{
  width: 100%;
  height: 70%;
  margin: auto;
  text-align: center;
}

.ContenedorImagen{
  display: inline-block;
  width: 100%;
  height: 70%;
}

.resultado{
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 20%;
  vertical-align: top;
  position: relative;
}

#imagen{
  border: double gray 8px;
}

.nombre{
  font-size: 28px;
}

.prediccion{
  font-size: 18px;
  margin-bottom: 60px;
}

.btnVolver{
  width: auto;
}

.Volver{
  margin-left: 40%;
  margin-right: 40%;
  height: auto;
}
