<!DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="UTF-8">
      <title>Diagnóstico de Tumores Cerebrales</title>
      <link rel="stylesheet" type="text/css" href="../static/HojaEstilo/estilo.css">
      <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script language="JavaScript" type="text/javascript" src="../static/JavaScript/javascriptResultado.js"></script>
    </head>
    <body>
      <div class="cabecera">
        <div class="cabeceraTexto">
          <h1>Diagnóstico de un Tumor Cerebral a partir de una Imagen de Resonancia Magnética</h1>
       </div>
        <div class="cabeceraImagen">
          <img src="../static/imagenes/escudo_uva.png" alt="logo" width="200" height="200">
        </div>
      </div>
      <div class="panelCentral">

        <div class="resultado">
          <p class="nombre"> <b>Tipo de Tumor: </b> {{brain}}</p>
        </div>
        <div class="Volver">
        <form id="formVolver" action="/" method="post"></form>
        <p class="btnVolver btnEstilo"><i class="fa fa-reply" style="font-size:24px;color:#0190af"></i> Realizar un nuevo diagnóstico </p>
      </div>
        <div class="ContenedorImagen">
          <img id="imagen" src="../static/ImagenesBrain/{{foto}}" alt="ImagenBrain" width="450px">
          <img id="imagen" src="../static/ImagenesBrain/GradCAM/{{foto}}" alt="ImagenBrain" width="450px">
        </div>
      </div>
     
    </body>
</html>
